.portfolio{
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    padding-top: 70px;
    width: 100%;
}

.portfolio-subtitle{
    color: var(--grey);
    align-self: flex-start;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 40px;
}
.portfolio-link__github{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    align-self: flex-start;
    padding-top: 40px;
    padding-bottom: 70px;
    transition: .2s;
}
.portfolio-link__github:hover{
    cursor: pointer;
    opacity: .7;
    transition: .2s;
}
.porfolio-list{
    width: 100%;
    margin: 0;
    padding-inline-start: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.portfolio-item{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 1px solid var(--grey-e6);
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    transition: .2s;
}
.portfolio-item:hover{
    cursor: pointer;
    opacity: .7;
    transition: .2s;
}
.portfolio-item:last-child{
    border: none;
}
.portfolio-item__link{
    width: 100%;
    padding-top: 19px;
    padding-bottom: 19px;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.04em;
    z-index: 2;
    padding-right: 24px;
}
.portfolio-item__arrow{
    position: absolute;
    top: 25px;
    right: 0;
    z-index: 1;
}
@media screen 
and (min-width : 768px)
and (max-width : 1279px){
    .portfolio{
        position: relative;
        padding-top: 50px;
    }
    .portfolio-link__github{
        position: absolute;
        top: 15px;
    }
    .portfolio-subtitle{
        font-size: 18px;
        line-height: 20px;
        padding-top: 80px;
    }
    .portfolio-item{
        font-weight: 400;
        font-size: 28px;
        line-height: 50px;
    }
    .portfolio-item__link{
        font-weight: 400;
        font-size: 28px;
        line-height: 50px;
    }
    .portfolio-item__arrow{
        width: 20px;
        height: 20px;
        top: 37px;
    }
}
@media screen 
and (min-width : 1280px)
and (max-width : 100vw){
    .portfolio{
        position: relative;
        padding-top: 100px;
    }
    .portfolio-link__github{
        position: absolute;
        top: 15px;
    }
    .portfolio-subtitle{
        font-size: 18px;
        padding-top: 80px;
    }
    .portfolio-item{
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: -0.04em;
    }
    .portfolio-item__link{
        padding-top: 30px;
        padding-bottom: 30px;
        font-weight: 400;
        font-size: 30px;
        line-height: 50px;
        letter-spacing: -0.04em;
    }
    .portfolio-item__arrow{
        width: 15px;
        height: 15px;
        top: 42px;
    }
}