.promo{
    position: relative;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.promo-logo{
    width: 250px;
    height: 250px;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 140px;
}
.promo-title{
    color: var(--white);
    font-style: normal;
    font-weight: 400;
    font-size: 31px;
    line-height: 39px;
    text-align: center;
    margin: 0;
    padding-top: 206px;
    padding-bottom: 243px;
    max-width: 320px;
}

@media screen 
and (min-device-width : 768px)
and (max-device-width : 1279px){
    .promo-title{
        font-weight: 400;
        font-size: 50px;
        line-height: 58px;
        padding-top: 318px;
        padding-bottom: 333px;
        max-width: 730px;
    }
    .promo-logo{
        width: 326px;
        height: 326px;
        top: 220px;
    }
}
@media screen 
and (min-device-width : 1280px)
and (max-device-width : 100vw){
    .promo-logo{
        width: 324px;
        height: 323px;
        top: 81px;
    }
    .promo-title{
        font-weight: 400;
        font-size: 50px;
        line-height: 58px;
        letter-spacing: -0.04em;
        width: 60%;
        padding-top: 183px;
        padding-bottom: 218px;
        max-width: 768px;
    }
}