.logo{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo__header-dark{
    position: relative;
    padding-left: 15px;
}

.logo-img{
    width: 38px;
}

@media screen 
and (min-device-width : 768px)
and (max-device-width : 1279px){
    .logo{
        align-items: flex-start;
    }
    .logo__header-dark{
        position: relative;
        padding-left: 30px;
    }

}
@media screen 
and (min-device-width : 1280px)
and (max-device-width : 100vw){
    .logo{
        position:relative;
    }
    .logo__header-dark{
        position: relative;
        padding-left: 60px;
    }
}
