.search-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-form{
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    position: relative;
    padding-top: 60px;
    display: flex;
    width: 100%;
    max-width: 932px;
}
.search-label{
    position: absolute;
    left: 29px;
    bottom: 16px;
    color: var(--grey);
}
.search-input{
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    padding-left: 16px;
    outline: none;
    border: none;
    border-radius: 9px;
    background-color: rgba(0, 0, 0, 0.08);
    height: 72px;
    width: 100%;
    margin-right: 10px;
    margin-left: 10px;
}
.search-btn{
    padding: 0;
    position: absolute;
    right: 28px;
    top: 78px;
    background-color: inherit;
    border: none;
    transition: .2s;
}
.search-btn:hover{
    cursor: pointer;
    opacity: .7;
    transition: .2s;
}

@media screen 
and (min-width : 768px)
and (max-width : 1279px){
    .search-container{
        width: 708px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: var(--black22);
        border-radius: 9px;
    }
    .search-form{
        background-color: inherit;
        border-radius: 9px;
        padding-top: 0;
    }
    .search-btn{
        top: 20px;
    }
    .search-input{
        width: 484px;
        margin-right: 0;
        background-color: inherit;
    }

}
@media screen 
and (min-width : 1280px)
and (max-width : 100vw){
    .search-container{
        width: 1140px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        margin-top: 80px;
        margin-bottom: 80px;
        background-color: var(--black22);
        border-radius: 9px;
    }
    .search-form{
        background-color: inherit;
        border-radius: 9px;
        padding-top: 0;
    }
    .search-btn{
        top: 20px;
    }
    .search-input{
        min-width: 906px;
        margin-right: 0;
        background-color: inherit;
    }
}