.search-form__container{
    width: 94%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.search__error{
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--red);
    position: absolute;
    text-align: center;
    top: 120px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}
.search-form{
    font-weight: 400;
    font-size: 11px;
    line-height: 18px;
    position: relative;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.search-input-label{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;

}
.search-input__icon-search{
    position: absolute;
    top: 20px;
    left: 20px;
    display: none;
    width: 34px;
    height: 34px;
}
.search-label{
    position: absolute;
    left: 29px;
    bottom: 16px;
    color: var(--grey);
}
.search-input{
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    padding: 0;
    padding-left: 16px;
    outline: none;
    border: none;
    border-radius: 9px;
    background-color: var(--black22);
    height: 72px;
    width: 100%;
    max-width: none;
}

.search-btn{
    padding: 0;
    position: absolute;
    right: 11px;
    top: 18px;
    background-color: inherit;
    border: none;
    transition: .2s;
    background-image: url('../../images/search-min.svg');
    background-position: center;
    background-repeat: no-repeat;
    width: 35px;
    height: 35px;
    transition: .2s;
}
.search-btn:hover{
    cursor: pointer;
    opacity: .7;
    transition: .2s;
}

@media screen 
and (min-width : 768px)
and (max-width : 1279px){
    .search-form__container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 216px;
        border-radius: 9px;
        width: 90%;
    }
    .search-form{
        background-color: var(--black22);
        border-radius: 9px;
        padding-top: 0;
        min-width: 510px;
        align-items: center;
        flex-direction: row;
    }
    .search-btn{
        top: 18px;
        right: 20px;
    }
    .search-input{
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        margin-right: 0;
        background-color: inherit;
    }

}
@media screen 
and (min-width : 1280px)
and (max-width : 100vw){
    .search-form__container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        height: 216px;
        border-radius: 9px;
        width: 100%;
    }
    .search-form{
        background-color: var(--black22);
        border-radius: 9px;
        padding-top: 0;
        min-width: 985px;
        max-width: 1140px;
        align-items: center;
        flex-direction: row;
    }
    .search-btn{
        top: 20px;
        right: 15px;
    }
    .search-input{
        padding-left: 55px;
        height: 52px;
        margin-right: 0;
        background-color: inherit;
        border-top-right-radius: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        border: none;
    }
    .search-input__icon-search{
        display: block;
    }
}