.preloader{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 100%;
    padding-top: 79px;
}
.preloader-container{

    width: 50px;
    height: 50px;
    position: relative;
}
.preloader-spin{
    width: 53px;
    height: 53px;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}
.preloader-spin::after{
    content: '';
    position: absolute;
    top: 7px;
    left: 7px;
    width: 38px;
    height: 38px;
    animation: rotate-spin 2s linear infinite;
    background-image: url('../../images/spin.svg');
    background-repeat: no-repeat;
    background-position: center;
}
@media screen 
and (min-width : 768px)
and (max-width : 1279px){
    .preloader{
        min-height: 548px;
    }
}
@media screen 
and (min-width : 1280px)
and (max-width : 100vw){
    .preloader{
        min-height: 224px;
    }
}
