.register{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-container{
    width: calc(var(--w320-396) - 60px);
    padding-top: 56px;
    padding-left: 30px;
    padding-right: 30px;
    height: 100%;
    max-width: 456px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.register__header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 80px;
}

@media screen 
and (min-width : 768px)
and (max-width : 1279px){
    .register{
        align-items: flex-start;
        padding: 0;
    }
    .register-container{
        height: 565px;
        align-items: flex-start;
    }
    .register__header{
        padding-top: 0;
        align-items: flex-start;
    }
    .register__title{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}

@media screen 
and (min-width : 1279px)
and (max-width : 100vw){
    .register{
        align-items: flex-start;
    }
    .register-container{
        height: 565px;
        align-items: flex-start;
    }
    .register__header{
        padding-top: 0;
        align-items: flex-start;
    }
    .register__title{
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        padding-bottom: 44px;
        padding-top: 36px;
    }
}