.register{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 260px;
    height: 100vh;
}

.register__header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 56px;
}

.register__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding-top: 88px;
    padding-bottom: 80px;
}

@media screen 
and (min-device-width : 768px)
and (max-device-width : 1279px){
    .register{
        width: 396px;
        align-items: flex-start;
        padding: 0;
        height: 565px;
        padding-top: 232px;
        padding-bottom: 232px;
    }
    .register__header{
        padding-top: 0;
        align-items: flex-start;
    }
    .register__title{
        padding-bottom: 40px;
    }
}

@media screen 
and (min-device-width : 1279px)
and (max-device-width : 100vw){
    .register{
        width: 396px;
        align-items: flex-start;
    }
    .register__header{
        padding-top: 70px;
    }
    .register__title{
        padding-bottom: 40px;
    }
}