.techs{
    background-color: var(--grey-f5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}
.techs-header{
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    align-self: flex-start;
    border-bottom: 1px solid var(--black);
    padding-bottom: 30px;
    padding-top: 240px;
    width: 90%;
}
.techs-title{
    margin: 0;
    font-size: 28px;
    font-weight: 500;
    padding-top: 60px;
}
.techs-info{
    width: 90%;
    margin: 0;
    padding-top: 28px;
    text-align: center;
    font-size: 11px;
    line-height: 1.4;
}
.techs-list{
    padding-top: 50px;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    display: grid;
    grid-template-columns: 85px 85px;
    grid-template-rows: repeat(4, 55px);
    justify-items: center;
    align-items: center;
    gap: 14px;
}
.techs-item{
    font-size: 12px;
    border-radius: 5px;
    background-color: var(--grey-e8);
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
}
@media screen 
and (min-device-width : 768px)
and (max-device-width : 1279px){
    .techs{
        padding-right: 50px;
        padding-left: 50px;
    }
    .techs-header{
        font-size: 20px;
        padding-bottom: 25px;
        padding-top: 92px;
        width: 100%;
    }
    .techs-title{
        font-size: 48px;
        padding-top: 80px;
    }
    .techs-info{
        width: 60%;
    }
    .techs-list{
        width: 100%;
        padding-top: 88px;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        gap: 12px;
    }
}
@media screen 
and (min-device-width : 1280px)
and (max-device-width : 100vw){
    .techs{
        padding-right: 70px;
        padding-left: 70px;
    }
    .techs-header{
        font-size: 20px;
        padding-bottom: 37px;
        padding-top: 124px;
        width: 100%;
    }
    .techs-title{
        font-size: 48px;
        padding-top: 80px;
    }
    .techs-info{
        width: 42%;
        font-size: 13px;
    }
    .techs-list{
        width: 60%;
        padding-top: 100px;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: 1fr;
        gap: 12px;
    }
}