.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.login__header{
    padding-top: 56px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding-top: 88px;
    padding-bottom: 80px;
}

@media screen 
and (min-device-width : 768px)
and (max-device-width : 1023px){
    .login{
        width: 396px;
        align-items: flex-start;
        padding-top: 232px;
        padding-bottom: 232px;
        height: 565px;
    }
    .login__header{
        align-items: flex-start;
        padding: 0;
    }
    .login__title{
        padding-bottom: 40px;
    }
}

@media screen 
and (min-device-width : 1024px)
and (max-device-width : 100vw){
    .login{
        width: 396px;
        align-items: flex-start;

    }
    .login__header{
        padding-top: 70px;
    }
    .login__title{
        padding-bottom: 40px;
    }
}