.login{
    color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    min-width: 260px;
}

.login-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-self: center;
}

.login__header{
    display: flex;
    flex-direction: column;
}

.login__title{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 80px;
}

@media screen 
and (min-width : 768px)
and (max-width : 1279px){
    .login{
        width: 396px;
    }
    .login-container{
        height: 565px;
        align-items: flex-start;
    }
    .login__header{
        align-items: flex-start;
        padding: 0;
    }
    .login__title{
        padding-bottom: 40px;
    }
}

@media screen 
and (min-width : 1280px)
and (max-width : 100vw){
    .login{
        width: 396px;
        align-items: flex-start;
    }
    .login-container{
        height: 565px;
        align-items: flex-start;
    }
    .login__header{
        align-items: flex-start;
    }
    .login__title{
        padding-top: 40px;
        padding-bottom: 40px;
    }
}