@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@keyframes rotate-spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

#root{
  --black: #000000;
  --black20: #202020;
  --black22: #222222;
  --black27: #272727;
  --black30: #303030;
  --black31: #313131;
  --white: #ffffff;
  --grey: #8B8B8B;
  --grey-2f: #2F2F2F;
  --grey-a: #A0A0A0;
  --grey-8b: #8B8B8B;
  --grey-42: #424242;
  --grey-50: #505050;
  --grey-e6: #E6E6E6;
  --grey-da: #DADADA;
  --green: #3DDC84;
  --dark-blue: #073042;
  --red: #EE3465;
  --blue: #4285F4;

  --pd0-30_560px: calc(0px + (30 - 0) * ((100vw - 320px) / (560 - 320)));
  --pd12-30_560px: calc(12px + (30 - 12) * ((100vw - 320px) / (560 - 320)));
  --pd20-60_560: calc(20px + (60 - 20) * ((100vw - 320px) / (560 - 320)));

  --pd0-50: calc(0px + (50 - 0) * ((100vw - 320px) / (768 - 320)));
  --pd14-50: calc(14px + (50 - 14) * ((100vw - 320px) / (768 - 320)));
  --pd18-50: calc(18px + (50 - 18) * ((100vw - 320px) / (768 - 320)));
  --pd50-70: calc(50px + (70 - 50) * ((100vw - 768px) / (1280 - 768)));
  
  --w320-396: calc(320px + (396 - 320) * ((100vw - 320px) / (768 - 320)));
  --w396-456: calc(396px + (456 - 396) * ((100vw - 396px) / (768 - 396)));
  --w320-768: calc(320px + (786 - 320) * ((100vw - 320px) / (786 - 320)));
  --w768-1280: calc(768px + (1280 - 768) * ((100vw - 768px) / (1280 - 768))); 

}
a{
  text-decoration: none;
  color: var(--white);
}
body {
  font-family: "Inter", "SuisseIntl", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
