@import url(./vendor/normalize.css);
@import url(./vendor/fonts/fonts.css);

@keyframes rotate-spin {
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

#root{
  --black: #000000;
  --black20: #202020;
  --black22: #222222;
  --black27: #272727;
  --black30: #303030;
  --black31: #313131;

  --white: #ffffff;
  --grey: #8B8B8B;
  --grey-2f: #2F2F2F;
  --grey-a: #A0A0A0;
  --grey-8b: #8B8B8B;
  --grey-42: #424242;
  --grey-50: #505050;
  --grey-e6: #E6E6E6;
  --grey-da: #DADADA;
  --green: #3DDC84;
  --dark-blue: #073042;
  --red: #EE3465;
  --blue: #4285F4;

}
a{
  text-decoration: none;
  color: var(--white);
}
body {
  font-family: "Inter", "SuisseIntl", "Arial", "Helvetica Neue", sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
